* {
    background-color: #111111;
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.banner {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: none;

}

/* navbar start*/
.logo-t {
    color: #E6533C;
    width: 100%;
    font-weight: 800;
    font-size: 50px;
    font-style: italic;
}
.nav-bar {
    display: flex;
    justify-content: space-between;

}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.horizontal-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-item {
    padding: 8px;
    margin-top: 20px;
    border: 1px solid rgb(46, 42, 42);
    border-radius: 15px;
}

.home-btn {
    background: #E6533C;
    background-color: #E6533C;
    color: white;
    border: 0;
    border-radius: 15px;
    height: 50px;
    width: 80px;
}

.home-btn a {
    background-color: #E6533C;

}

/* navbar end*/
/* nav content*/
.nav-content {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 100px;
}

.nav-des button {
    color: white;
    height: 45px;
    width: 200px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    margin-top: 20px;
}

.btn-join {
    background-color: #E6533C;
    border: 0;
}

.btn-dwn {
    border: 1px solid white;
    margin-left: 10px;
}

.nav-des h1 {
    font-size: 75px;

}

.nav-des p {
    font-size: 18px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 50px;
}

.nav-img img {
    margin-right: 50px;
    height: 580px;
    width: 350px;
}

.carkel {
    margin-top: 20px;
    background-color: #E6533C;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.card1,
.card2 {
    position: absolute;
    top: -135px;
    left: -120px;
    width: 150px;
    padding: 15px;
    background-color: #2e2e2eb8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
}

.card1 {
    position: absolute;
    top: -420px;
    left: 220px;
}

.rounded-color {
    height: 30px;
    width: 30px;
    background-color: orangered;
    border-radius: 50%;
}

.Change-your {
    text-align: center;
    color: white;
    font-size: 48px;
}

.we-believe {
    color: gray;
    text-align: center;
    padding-top: 20px;
    width: 671px;
    margin: 0 auto;
}

.change-img-part {
    padding-top: 70px;
    width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.imgages {
    width: 100%;
    border-radius: 50%;
}

.figure-caption {
    width: 230px;

}
.blog-section{
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: rgb(51, 50, 50);
    border-radius: 15px;
    margin-left: 120px;
    margin-top: 50px;
}

.blog-contant{
    width: 500px;
    background-color:  rgb(51, 50, 50);
    
}
.blog-contant h1{
   color: white;
   font-size: 45px;
   font-weight: 800px;
   background-color:  rgb(51, 50, 50);
}
.blog-contant p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    background-color:  rgb(51, 50, 50);
}
.btn-join-2{
    color: white;
    background-color: #E6533C;
    height: 45px;
    width: 150px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    margin-top: 20px;
    border: none;
}
.blog-img {
    border-radius: 15px;
    margin: 20px;
    background-color:  rgb(51, 50, 50);
    
}
.blog-img img{
    border-radius: 15px;
    height:350px ;
    width: 340px;
}
/* Responsive Design */

@media screen and (max-width: 576px) {
 /*responsive nav,nav-des and card Start*/
    .container {
       width: 100%;
    }

    .Change-your {
        font-size: 32px;
    }
    
    .we-believe {
        width: 316px;
        margin: 0 auto;
    }

    .change-img-part {
        width: 100%;
        flex-direction: column;
    }
    .logo-t {
        font-weight: 800;
        font-size: 35px;
        
    }
    .nav-item{
        display: none;
    }
    .nav-des h1 {
        font-size: 45px;
    }
    .nav-img img {
        margin-left: 80px;
    }
    .nav-content {
        display: flex;
        flex-direction: column;
    }
    .card1 {  
        top: -480px;
        left: 300px;
    }
    .card2 {   
        top: -300px;
        left: -10px; 
    }
    .nav-des button {
        font-size: 12px;
        height: 45px;
        width: 150px;
    } 
    .nav-des p {
        font-size: 18px;
        
    }  
    .nav-des{
        width: 350px;
    }   
                        /*responsive nav,nav-des and card End*/
}